/* ? -------  Trouble shoot checking section --------- */

/* * {
  background-color: rgb(0 100 0 / 0.1);
} */

/* *--------------------- Reset ---------------------* */

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* @media screen and (min-width: 2000px) {
  .container {
    max-width: 1500px;
    margin: 0rem auto;
  }
} */

body {
  background-color: var(--color-background);
  color: var(--color-fonts);
  -webkit-tap-highlight-color: transparent;
}

button,
a,
input {
  color: var(--color-fonts);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 123.33px;
}

.disableScroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.--hidden {
  display: none;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    margin: 0rem auto;
  }
}

/* *--------------------- Root ---------------------* */

:root {
  --color-primary: #000000;
  --color-secondary: #c4c4c4;
  --color-primary-shadow: #1570ef52;
  --color-sec-shadow: #c8c0c051;

  --color-background: #fff;
  --color-background-grey: #f2f2f2;

  --color-fonts: #000000;
  --color-fonts-grey: #5d6679;
}

/* *------------------ Typography -------------------* */

body {
  font-size: 62.5%;
  /* 1rem = 10px */
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

input,
a,
button {
  font-size: 1rem;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 500;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

/* *------------------ Header -------------------* */
.header_mian {
  height: 133.33px;
  background-color: var(--color-background);
  width: 100%;
  position: fixed;
  z-index: 4;
}

.header {
  background: var(--color-background);
  background-color: var(--color-background);
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  z-index: 4;
}

.header__menu {
  display: none;
}

.header__buttons {
  display: none;
}

@media screen and (min-width: 1000px) {
  .header__menuIcon {
    display: none;
  }
  .header__menu {
    position: relative;
    left: 5rem;
    display: flex;
    justify-content: space-between;
    width: 30rem;
  }

  .header a {
    font-size: 1.2rem;
  }

  .header span {
    font-size: 1rem;
    font-weight: 300;
  }

  .header__menu__items {
    display: flex;
    justify-content: space-between;
    width: 30rem;
  }

  .header__buttons {
    display: flex;
    justify-content: space-between;
    width: 10.5rem;
  }
  .header__buttons span {
    border: solid 0.1rem var(--color-secondary);
    border-radius: 0.5rem;
    padding: 0.4rem 0.6rem;
  }

  .header__buttons span:hover {
    cursor: pointer;
  }
}

/* *------------------ Intro -------------------* */
.intro {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 );
}

.intro__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.intro__main h1 {
  margin-bottom: 1rem;
}

.intro__main__downar {
  margin-top: 1rem;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 2.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* *------------------ About ME -------------------* */
.aboutMe {
  padding: 6.6rem 2.5rem;
  background-color: var(--color-background-grey);
  min-height: calc(100vh - 123.33px);
}

.aboutMe__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.aboutMe__title h2 {
  width: 20rem;
  text-align: center;
}

.aboutMe__title__line {
  height: 1px;
  width: 100%;
  background: var(--color-primary);
}

.aboutMe__body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.aboutMe__body__text {
  line-height: 2;
  text-align: justify;
}

.aboutMe__body__photo {
  margin: 2rem auto;
  width: 200px;
  height: 200px;
}

@media screen and (min-width: 1000px) {
  .aboutMe__body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .aboutMe__body__photo {
    margin: 0rem 0rem 0rem 4rem;
    width: 300px;
    height: 300px;
  }
}

/* *------------------ skills -------------------* */
.skills {
  padding: 6.6rem 2.5rem;
  background-color: var(--color-background);
  min-height: calc(100vh - 123.33px);
}

.skills__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.skills__title h2 {
  width: 20rem;
  text-align: center;
}

.skills__title__line {
  height: 1px;
  width: 100%;
  background: var(--color-primary);
}

.skills__body__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.skills__body__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__body__item__text__header {
  font-size: large;
  font-weight: bold;
  margin-bottom: 1rem;
}

.skills__body__item__text__body {
  line-height: 1.7;
}

.skills__body__item__text hr {
  margin: 1rem 0rem;
}

.skills__body__item img {
  width: 220px;
  height: 220px;
}

.skills__body__item__text ul {
  display: flex;
  flex-wrap: wrap;
}

.skills__body__item__text li {
  color: var(--color-background);
  background: rgb(75, 75, 75);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 800px) {
  .skills__body__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .skills__body__item__text__body {
    line-height: 1.7;
    text-align: justify;
  }

  .skills__body__item img {
    order: 1;
    margin-right: 2rem;
  }

  .skills__body__item__text {
    order: 2;
  }
}

/* *------------------ Contact -------------------* */
.contact {
  padding: 6.6rem 2.5rem;
  background-color: var(--color-background-grey);
  min-height: calc(100vh - 123.33px);
}

.contact__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.contact__title h2 {
  width: 20rem;
  text-align: center;
}

.contact__title__line {
  height: 1px;
  width: 100%;
  background: var(--color-primary);
}

.contact__body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact__body__text {
  margin-top: 3rem;
  line-height: 2;
  text-align: center;
  max-width: 60rem;
}

.contac__footer {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contac__footer__images {
  margin-bottom: 1rem;
}

.contac__footer__images a {
  padding: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .contact__body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
